<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu side="right" [content]="mycontent">
  <ion-content *ngIf="current_page !== ConnectedPage">
    <ion-grid>
      <ion-row fixed justify-content-center align-items-start>
          <h1>Connectez vous</h1>
      </ion-row>
      <ion-row fixed justify-content-center align-items-start>
        <ion-img src="../assets/imgs/logoschool.png" style="border-radius:50%;height:150px;width:150px;"></ion-img>
      </ion-row>
      <ion-row fixed justify-content-center align-items-start>
        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
        <button ion-button color="secondary" outline (click)='login(user);'>Login</button>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content *ngIf="current_page == ConnectedPage">
    <ion-grid>
      <ion-row fixed justify-content-center align-items-start>
          <h1>Profil</h1>
      </ion-row>
      <ion-row fixed justify-content-center align-items-start>
        <ion-img src="../assets/imgs/logoschool.png" style="border-radius:50%;height:150px;width:150px;"></ion-img>
      </ion-row>
      <ion-row fixed justify-content-center align-items-start>

        <button ion-button color="secondary" outline (click)='logout(user);'>Logout</button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-nav  #mycontent swipeBackEnabled="false"></ion-nav>
